<h3 id="focusBlur">Default editor with height of 200px</h3>
<h2>Drag and Drop the below buttons and see the magic</h2>

<h2>Available items</h2>

<div
  cdkDropList
  [cdkDropListData]="items"
  cdkDropListSortingDisabled
  (cdkDropListDropped)="drop($event)"
>
  <div *ngFor="let item of items" cdkDrag>
    {{ item }}
    <div *cdkDragPreview [id]="item">{{ item }}pp</div>
  </div>
</div>

<div class="">
    <div class="" cdkDrag>
        TEXT
        <div class="" *cdkDragPreview>PREV</div>
    </div>
</div>

<p>focused: {{ focused }}, blurred: {{ blurred }}</p>
<quill-editor
  [styles]="{ height: '200px' }"
  (onFocus)="focus($event)"
  (onNativeFocus)="nativeFocus($event)"
  (onEditorChanged)="changedEditor($event)"
  (onBlur)="blur($event)"
  (onNativeBlur)="nativeBlur($event)"
  (onEditorCreated)="created($event)"
></quill-editor>

{{ editorFormControl.valueChanges | async }}

<h4>Material Quill</h4>

<mat-form-field appearance="fill">
  <mat-quill
    [formControl]="editorFormControl"
    [styles]="{ height: '200px' }"
    (onFocus)="focus($event)"
    (onNativeFocus)="nativeFocus($event)"
    (onEditorChanged)="changedEditor($event)"
    (onBlur)="blur($event)"
    (onNativeBlur)="nativeBlur($event)"
    (onEditorCreated)="created($event)"
  ></mat-quill>
</mat-form-field>
